<a href="https://colab.research.google.com/github/hkhong72/big_data/blob/main/221007%EC%88%98%EC%A7%91%EB%B6%84%EC%84%9D%EC%8B%9C%EA%B0%81%ED%99%9402.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
ls = [1,2,3,4,5,6]
arr = np.array(ls)
print(arr)
print("차원 : ",arr.ndim)
print("구조 : ",arr.shape)

In [ ]:
ls1 = np.array([[1,2],[3,4]])
ls2 = np.array([[3,9],[1,3]])
ls3 =ls1+ls2
arr1 = np.array(ls1)
arr2 = np.array(ls2)
arr3 = arr1+arr2
print(arr3)

In [ ]:
arr = np.random.normal(174.5,7,200) #평균174.5 표준편차7 표본200개 생성
print("평균 : ",np.mean(arr)) #arr.mean(), np.mean(arr)
print("분산 : ",np.var(arr))
print("표준편차 : ",np.std(arr))
print("중간값 : ",np.median(arr))
print("최솟값 : ",np.min(arr))
print("최댓값 : ",np.max(arr))
print("최솟값 위치 : ",np.argmin(arr))
print("최댓값 위치 : ",np.argmax(arr))
print("1/4 분위값 : ",np.quantile(arr,0.25))

**오늘 강의**
pandas 
메뉴얼 사이트 : https://pandas.pydata.org/docs/

In [ ]:
import pandas as pd

In [ ]:
kscores = [ 90,87,88,79]
ks = pd.Series(kscores)
print(ks)

In [ ]:
print("인덱스 : ",ks.index)
print("값 : ",ks.values)

In [ ]:
names = ['홍길동', '강감찬', '을지문덕', '이순신']
ks = pd.Series(kscores, index=names)
print(ks)

In [ ]:
filter =ks>80
print(ks[filter])

In [ ]:
if '홍길동' in ks:
  print("있다")
else:
  print("없어 용")

In [ ]:
score_chart = {'홍길동':90,
               '강감찬':80,
               '을지문덕':95,
               '이순신':99,
               '고구마':45}
ks2 = pd.Series(score_chart)
print(ks2)

In [ ]:
data = {'홍길동':{2019:168, 2020:174, 2021:180},
        '강감찬':{2019:165, 2020:172, 2021:183}
}
df = pd.DataFrame(data)
df

In [ ]:
names = ['홍길동', '강감찬', '이순신', '을지문덕', '장언휴']
ks3 = pd.Series(score_chart, index = names)
print(ks3)

In [ ]:
pd.isnull(ks3)

In [ ]:
ks.index.name = '학생이름'
print(ks3)

In [ ]:
ks3 -= 5
print(ks3)

In [ ]:
ks4 = np.exp(ks3)
print(ks4)

In [ ]:
kscore = ks3.to_numpy()
print(kscore)

In [ ]:
# 컬럼을 개발자가 명시적으로 지정할 수 있다
data = {'이름':['홍길동','홍길동','홍길동','강감찬','강감찬','강감찬'],
        '년도':[2019, 2020, 2021, 2019, 2020, 2021],
        '키':[165, 173, 177, 150, 172, 180]
}

df = pd.DataFrame(data)
print(df)

In [ ]:
df.head()

In [ ]:
cc = ['이름', '키', '년도', '몸무게']
ci = ['1학년', '2학년', '3학년', '1학년', '2학년', '3학년']
df = pd.DataFrame(data, columns=cc, index=ci)
df

In [ ]:
hs = df['키']
print(type(hs))
hs

In [ ]:
# 인덱스 연산에는 컬럼명을 사용한다
df['년도']
print(df)

In [ ]:
# loc멤버의 인덱스 연산에는 인덱스 값을 사용한다.
df.loc['1학년']

In [ ]:
df['몸무게'] = 0
df

In [ ]:
# 존재하지 않는 데이터 컬럼 이름을 쓰게 되면 자동으로 데이터 프레임에 추가된다.
df['평균이상'] = False
df

In [ ]:
hm = df['키'].mean()
print("키 평균 : ", hm)

In [ ]:
filter = df['키'] >= hm
df['평균이상'] = filter # df['평균이상'] = df['키'] >= df['키'].mean()
df

In [ ]:
# 평균이상 컬럼 삭제
del df['평균이상']
df

In [ ]:
#df = pd.DataFrame(data,index=[2020,2021,2022])
#df

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.index.name='년도'
df

In [ ]:
df.values

In [ ]:
s = pd.Series(range(3), index=['a','b','c'])
s

In [ ]:
print(s.index)
print(s.index[0]) #하나의 원소를 의미함
print(s.index[:1]) #결과값은 하나의원소이나, 부분집합을 의미함

In [ ]:
s.values

In [ ]:
print(df.columns)
print('키' in df.columns)

In [ ]:
#s.index[0]='s' # 인덱스통째로는 변경가능하나, 인덱스 부분부분은 변경불가! 오류발생함

In [ ]:
s.index=['s','b','z'] #인덱스를 통째로 변경은 가능
print(s)

In [ ]:
names = ['홍','강','감']
s = pd.Series([1.0,2.0,1.2],index=names)
print(s)

In [ ]:
if '홍' in s.index:
  print("홍홍")
else:
  print("향향")

In [ ]:
ls = ['홍길동','강감찬','김유신']
name = input("검색 : ")
if name in ls:
  print("존재합니다.")
else:
  print("존재X")

In [ ]:
s = pd.Series([1,2,1,2,3,4,2,3,1,2,3,4,2,1,1])
s.unique()

In [ ]:
s = pd.Series([1,5,3,4],['a','b','d','e'])
s
s2 = s.reindex(['a','b','d','e'])
s2

In [ ]:
rd = np.arange(9)
rd2 = rd.reshape(3,3)
df = pd.DataFrame(rd2,index=['a','c','b'],columns=['서울','강원','제주'])
df

In [ ]:
df2 = df.reindex(['a','b','c','d'])
df2

In [ ]:
areas=['서울','광주','대구','제주']
df3 = df.reindex(columns=areas)
df3

In [ ]:
df.loc[['a','b','c']]

In [ ]:
df.loc[['a','c']]

In [ ]:
s2 = s.drop('b') #'b'를 삭제하여라. (삭제한 개체 반환, 원본 개체는 변화 없음)
print(s)
print(s2)

In [ ]:
df = pd.DataFrame(np.arange(16).reshape(4,4),index=['서울','일산','천안','제주'],columns=['a','b','c','d'])
df

In [ ]:
df.drop('a',axis='columns',inplace=True)
df

In [ ]:
s = pd.Series(np.arange(4),index=['a','b','c','d'])
s

In [ ]:
print(s['a']) #인덱스 값으로 색인
print(s[1]) # 숫자인덱스로 색인
print(s[1:3]) #슬라이스도 가능(부분 집합   모집합과 같은 형식 개체)
print(s[['a','c']]) #인덱스 값으로 부분 집합을 추출할 때는 인덱스 연산 내부에 다시 인덱스 연산 사용
print(s[s<2]) #필터식 사용

In [ ]:
s[s<2] = -1
print(s)

In [ ]:
df = pd.DataFrame(np.arange(16).reshape(4,4),index=['서울','천안','인천','제주'],columns=['가','나','다','라'])
df

In [ ]:
print(df['가'])
#print(df['서울'])# 오류발생 -> DataFrame에 기본 색인은 컬럼명으로 한다
print(df[['가','나']])

In [ ]:
#주의!!!
#DataFrame의 기본 인덱스 연산은 컬럼을 사용하지만
#수로 슬라이스를 표현할 때는 index(행)으로 추출한다
print(df[:])
print(df[0:2]) #수로 슬라이스를 표현할 때는 컬럼이 아닌 index로 추출한다

In [ ]:
filter = df['가']<5
df2 = df[filter]
df2

In [ ]:
df3 = df[[True,True,False,True]]
df3

In [ ]:
df2 = df[df['가']<5]
df2

In [ ]:
df%2==0

In [ ]:
df = pd.DataFrame(np.arange(16).reshape(4,4),index=['서울','천안','인천','제주'],columns=['가','나','다','라'])
df

In [ ]:
print(df.loc['서울'])
print("A : ",df.loc['서울'],['가'])
print("B : ",df.loc['서울'],'가')
print("C : ",df.loc['서울']['가' : '다']) #축 이름으로 슬라이스 표현하면 마지막도 포함!!

In [ ]:
print(df.iloc[0:2])
print("B:\n",df.iloc[0:2][1:]) #2차원배열의 부분집합(행 슬라이스)=>2차원배열 
print("C:\n",df.iloc[0:2,1:]) # 2차원 배열의 부분집합(1차원,2차원)
print("D:\n",df.iloc[0][3]) 
print("F:\n",df.iloc[0,3])

**산술연산**

In [ ]:
s1 = pd.Series([7,-2,3,2],index=list("acde"))
s2 = pd.Series([1,4,5,7,9],index=list("abcdf"))
s3 = s1+s2
print("s1:\n",s1)
print("s2:\n",s2)
print("s3:\n",s3)

In [ ]:
df1 = pd.DataFrame(np.arange(9).reshape((3,3)),columns=list("abc"),index=list("가나다"))
df2 = pd.DataFrame(np.arange(12).reshape((4,3)),columns=list("bcd"),index=list("가다라마"))
print("df1 : \n", df1)
print("df2 : \n", df2)

In [ ]:
df3 = df1+df2 # 좌항 우항 둘중에 하나라도 Nan이면 결과는 Nan
print("df3 : \n",df3)

In [ ]:
df3 = df1+df2

In [ ]:
df4 = df1.add(df2,fill_value=0) #둘다없는것만 Nan // 산술 연산의 피연산자 중에 하나가 없을 때 0으로 사용
# 주의 !!! 두개의 피 연산자가 모두 없을때는 연산결과는 Nan
print("df1 : \n",df1)
print("df2 : \n",df2)
print("df3 : \n",df3)
print("df4 : \n",df4)

In [ ]:
df5 = 0/df1
print("df5 : \n",df5)

In [ ]:
print("df1 : \n",df1)
df6 = df1.reindex(columns=list("abcd"),fill_value=0)
print("df6 : \n",df6)

In [ ]:
# 파이썬 기본 문법 - 알고리즘을 입력 인자로 받아 콜백 사용하는 함수
def DoAnything(datas,doit):
  for data in datas:
    doit(data)

In [ ]:
def print_data(data):
  print(data," ")

In [ ]:
ls = [1,2,3,4,6]
#DoAnything(ls,print_data)
DoAnything(ls, lambda x: print(x))

In [ ]:
arr = np.random.randn(4,3)
print(arr)

In [ ]:
df = pd.DataFrame(arr,columns=list('bde'),index=['서울','인천','천안','상해'])
df

In [ ]:
df2 = np.abs(df)
print(df2)

In [ ]:
def gap_min_max(x):
  return x.max()-x.min()

In [ ]:
df3 = df.apply(gap_min_max)
df3

In [ ]:
df4 = df.apply(lambda x:x.max()-x.min())
df4

In [ ]:
s1 = pd.Series(range(4),index=list("dabc"))
s2 = s1.sort_index()
print(s2)

In [ ]:
df = pd.DataFrame(np.arange(8).reshape((2,4)),index=list("ba"),columns=list("BCDA"))
df

In [ ]:
df2 = df.sort_index()
df2

In [ ]:
df3 = df.sort_index(axis=1)
df3

In [ ]:
df4 = df.sort_index().sort_index(axis=1)
df4

In [ ]:
df5 = df.sort_index().sort_index(axis=1,ascending=False)
df5

In [ ]:
s1 = pd.Series([1,6,np.nan,3,np.nan,2],index=list("abcdef"))
s2 = s1.sort_values()#asending=False)
s2

In [ ]:
df = pd.DataFrame([[1,2,5,6,],[4,8,9,2],[1,6,3,7]],index=['a','b','c'],columns=list("가나다라"))
df

In [ ]:
df.sort_values(by='나')

In [ ]:
df.sort_values(by=['가','나'])

## 도수
p.224~

In [ ]:
s = pd.Series([1,2,4,2,1,2,3,4,5,3,2,1,1,2])
es = s.unique()
es

In [ ]:
print("합계 : ",df.sum())
print("합계 : ",df.sum(axis='columns'))

In [ ]:
print("합계(컬럼별) : ",df.sum())
print("합계(행별) : ",df.sum(axis='columns'))
print("평균(컬럼별) : ",df.mean())
print("평균(행별) : ",df.mean(axis='columns'))

In [ ]:
df

In [ ]:
df.head(3)

In [ ]:
df.describe()

In [ ]:
df.info()

In [ ]:
df['가'].value_counts()

In [ ]:
df.corr()

In [ ]:
df1 = pd.DataFrame(np.arange(9).reshape((3,3)),columns=list("abc"),index=list("가나다"))
df2 = pd.DataFrame(np.arange(12).reshape((4,3)),columns=list("bcd"),index=list("가다라마"))
df3 = df1 + df2
df3

In [ ]:
df4 = df3.fillna(0)
df4

In [ ]:
from google.colab import drive
path = '/content/content/titanic/train.csv'
df = pd.read_csv(path)
df.head(3)

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df['SibSp'].value_counts()

In [ ]:
# 전체 데이터
tx = df[['Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']]
tx

In [ ]:
# 어떻게 해야 살아있는 사람만 구할 수 있지?
# 라이브러리 서칭을 하면서 자주 사용해봐야 데이터를 다룰 수 있다
ty = df['Survived']
# 살아있는 사람들 조회 ==> unique() 보다 value_count()를 많이 쓴다
ty.value_counts()

In [ ]:
adata = df["Age"].fillna(df["Age"].mean()) #나이 컬럼의 결츶치를 평균으로 대체하시오
adata.isnull().value_counts()

In [ ]:
import matplotlib.pyplot as plt
n,bins,patches = plt.hist(adata,bins=range(0,100,5))
for b in range(len(bins)-1):
  print(f"{bins[b]}~{bins[b+1]}:{n[b]}")

In [ ]:
gdata = df['Sex']=='male'
gdata.value_counts()

In [ ]:
gdata = df['Sex']=='female'
print(gdata.value_counts())
gd2 = [1 if g else 0 for g in gdata.to_list()]
gdata2 = pd.Series(gd2)
print(gdata2.value_counts())

In [ ]:
df['Name']

In [ ]:
arr = df['Name'][0].split(',')
arr[1]
arr2 = arr[1].split('.')
arr2[0]
arr3 = arr2[0].replace(' ','')
arr3

In [ ]:
def get_call_name(name):
  arr = name.split(',')
  arr2 = arr[1].split('.')
  return arr2[0].replace(' ','')

In [ ]:
get_call_name(df['Name'][0])

In [ ]:
df['Name'][30]

In [ ]:
n_dic={}
ndata = df['Name']
for i in range(len(ndata)):
  #print(f"{i}:{get_call_name(ndata[i])}")
  cn = get_call_name(ndata[i])
  if cn in n_dic: #이미 나온 호칭일 때
    n_dic[cn] += 1 #카운터 1 증가
  else: #처음 나온 호칭일때
    n_dic[cn]=1 #카운터 1으로 설정
n_dic